.container {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 89vh;
  color: #fff;
}

.login-container {
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 300px;
}

.login-form {
  padding: 40px 20px;
  box-sizing: border-box;
}

.input-field {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
  outline: none;
  transition: border-color 0.3s, background-color 0.3s;
}

.input-field:hover,
.input-field:focus {
  border-color: #ff4081;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-button,
.register-button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.login-button {
  background-color: #ff4081;
  color: #fff;
  margin-left: 5px;
}

.login-button:hover {
  background-color: #bf0442;
  color: white;
}

.register-button {
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #ff4081; /* Border warna button login */
  color: #ff4081;
  margin-right: 5px;
}

.register-button:hover {
  border-color: #bf0442; /* Warna border saat tombol di-hover */
  color: white;
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 90%;
  }
}
