i {
  color: #ff4081;
}
p {
  color: #ff4081 !important;
}
input {
  color: #fff !important;
}
.container-fluid{
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-primary {
  margin-right: 5px;
  box-shadow: none;
  text-decoration: none;
  color: white;
  background-color: #ff4081;
}

.btn-primary:hover {
  color: white;
  background-color: #fd256d;
  box-shadow: none !important;
}

.btn-secondary {
  color: #ff4081;
  border: 1px solid #ff4081;
  background-color: black;
}

.btn-secondary:hover{
  background-color: black;
  border-color: #bf0442;
  color: white;
}


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}